.App {
  text-align: center;
}



.cur{
  cursor:pointer
}

.table{
  
  margin:60px;
  margin-left:1%;
}

.btn{
  margin-Top:25px;
  margin-Right: 15px;
}
.container{
  margin-left:5px;
}

body{
  background-color:#191970	;
}

.re{
  margin-left:17%;
}



.fa{
  color:white;
  font-size: 20pt;
  margin-right: 10px
}

.breadcrumb{
  font-weight:bold;
  font-size:15px;
  margin-top:25px;
}

.nav{
  background-color:#20B2AA;	
}

.con{
  margin-top:80px;
}